.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  .container .col {
    background: lightblue;
  }
  
  .container .col p {
    padding: .25rem .75rem;
  }
  
  
  /* 2 columns (600px) */
  
  @media only screen and (min-width:600px) {
    .container .col {
      float: left;
      width: 50%;
    }
  }
  
  
  /* 3 columns (768px) */
  
  @media only screen and (min-width:768px) {
    .container .col {
      width: 33.333%;
    }
  }
  
  
  /* 4 columns (992px) */
  
  @media only screen and (min-width:992px) {
    .container .col {
      width: 25%;
    }
  }